@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import "./abstracts/variables";
@import './abstracts/mixins';
@import "./base/reset";

body {
    overflow-y: hidden;
}

.container {
    font-family: 'Quicksand', sans-serif;
    color: $font-color;
    position: relative;
    overflow: hidden;

    @import "./pages/login";
    @import "./pages/register";
    @import "./pages/items";
    @import "./pages/history";
}