.cart-item-card-container {

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 18px;
        font-weight: 500;
    }

    .edit-amount-bar {
        display: flex;
        align-items: center;
        border-radius: 12px;
        gap: 5px;

        .delete-btn {
            border: none;
            width: 37px;
            height: 45px;
            background-color: $theme-color;
            border-radius: 12px;
            cursor: pointer;
        }

        .increment-btn {
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
            cursor: pointer;
        }

        .decrement-btn {
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        .amount-btn {
            border: 2px solid $theme-color;
            border-radius: 24px;
            background-color: transparent;
            width: 68px;
            height: 32px;
            color: $theme-color;
            font-size: 12px;
            font-weight: 700;
            cursor: pointer;
        }
    }
}