.shopping-list-section {
    background-color: $shopping-list-bgcolor;
    flex: 4;
    max-width: 389px;
    width: 28vw;
    min-width: 300px;

    .shopping-list-container {
        padding: 0 min(50px, 3.6vw);
        overflow-x: hidden;
        position: relative;

        &::-webkit-scrollbar {
            display: none;
        }

        .add-item-box {
            background-color: $add-item-box-bgcolor;
            border-radius: 24px;
            max-width: 310px;
            width: 20vw;
            min-width: 242px;
            height: 130px;
            margin-top: 40px;
            display: flex;
            gap: 10px;
            align-items: center;

            .add-item-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 3;

                img {
                    position: relative;
                    top: -15px;
                }
            }

            .add-item-description {
                font-weight: 700;
                flex: 5;
                display: flex;
                flex-direction: column;
                justify-content: start;
                height: 100%;
                

                p {
                    color: $primary-color;
                    font-size: 16px;
                }

                button {
                    border: none;
                    width: 120px;
                    height: 40px;
                    background: $primary-color;
                    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
                    border-radius: 12px;
                    font-size: 14px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }

        .cart-item-groups-container {
            margin-top: 30px;

            header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    font-size: 24px;
                    font-weight: 700;
                }

                .edit-list-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }

            .cart-item-groups {
                margin-top: -10px;
                @import "../components/loading";
                @import "cartitemgroup";
            }
        }

        .no-cart-item-container {

            @import "../components/loading";

            h3 {
                position: absolute;
                left: 50%;
                top: 50%;
                font-size: 20px;
                font-weight: 700;
                transform: translateX(-50%);
            }
    
            img {
                position: absolute;
                bottom: 0;
            }

            
        }
    }

    .save-list-form-container {
        height: 15vh;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;

        form {

            .enter-list-name-bar {
                max-width: 310px;
                width: 20vw;
                min-width: 242px;
                height: 61px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 2px solid $theme-color;
                border-radius: 12px;

                &.disabled {
                    border-color: #C1C1C4;

                    button {
                        background-color: #C1C1C4;
                        cursor: auto;
                    }
                }

                input {
                    all: unset;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 0 20px;
                    max-width: 180px;
                    width: 11vw;

                    &::placeholder {
                        color: #BDBDBD;
                    }
                }

                button {
                    border: none;
                    width: 87px;
                    height: 61px;
                    background-color: $theme-color;
                    color: $primary-color;
                    border-radius: 12px;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }

        }
    }

    .add-item-form-container {
        height: 100vh;
        padding: 0 min(40px, 2.85vw);
        width: 100%;

        h3 {
            font-size: 24px;
            font-weight: 500;
            margin-top: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .inputs-container {
                display: flex;
                flex-direction: column;
                height: 78.5vh;
                gap: 20px;

                .input-container {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
    
                    input {
                        border: 2px solid #BDBDBD;
                        border-radius: 12px;
                        outline-color: $theme-color;
                        font-family: 'Quicksand', sans-serif;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
    
                        &#name, &#image, &#category {
                            max-width: 310px;
                            width: 100%;
                            height: 61px;
                            padding: 0 20px;
                        }
    
                        &::placeholder {
                            color: #BDBDBD;
                        }
                    }
    
                    textarea {
                        border: 2px solid #BDBDBD;
                        border-radius: 12px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
                        width: 100%;
                        height: 110px;
                        padding: 20px;
                        resize: none;
                        outline-color: $theme-color;
                        font-family: 'Quicksand', sans-serif;

                        &::placeholder {
                            color: #BDBDBD;
                        }
                    }
    
                    label {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
                    }

                    .category-input-box {
                        position: relative;
    
                        .clear-btn {
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            cursor: pointer;
                            transform: translateY(-50%);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            visibility: hidden;
                        }
                    }

                    .category-options-container {
                        border: 1px solid #E0E0E0;
                        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
                        border-radius: 12px;
                        width: 310px;
                        height: 140px;
                        overflow-y: scroll;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 5px;
                        padding: 5px 0;
                        margin-bottom: 3px;
                        visibility: hidden;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        div {
                            width: 295px;
                            height: 40px;
                            padding: 0 20px;
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            p {
                                font-size: 16px;
                                font-weight: 500;
                                color: #828282;
                            }

                            &:hover {
                                background: #F2F2F2;
                                border-radius: 12px;
                            }
                        }
                    }
                }
            }

            .button-container {
                align-self: center;
                display: flex;
                align-items: center;
                gap: 40px;

                .cancel-btn {
                    all: unset;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    cursor: pointer;
                }

                .save-btn {
                    border: none;
                    width: 87px;
                    height: 61px;
                    background-color: $theme-color;
                    border-radius: 12px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: $primary-color;
                    cursor: pointer;
                }
            }
        }
    }
}