.stats-section {
    flex: 10;
    display: flex;
    background-color: $section-bgcolor;
    overflow-y: scroll;
    max-height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include screen-control(450px) {
        width: calc(100vw - 62px);
    }

    &::-webkit-scrollbar {
        display: none;
    }

    @import "../components/loading";

    .stats-list-container {
        width: 100%;
        padding: 35px min(60px, 5vw) 0 min(60px, 5vw);
        display: flex;
        justify-content: center;
        gap: 60px;

        @include screen-control(880px) {
            flex-direction: column;
            align-items: center;
            gap: 0;
            padding: 35px min(60px, 5vw) 0 min(60px, 5vw);
        }

        @include screen-control(735px) {
            flex-direction: row;
            gap: 30px;
            padding: 35px min(30px, 2.5vw) 0 min(30px, 2.5vw);
        }

        @include screen-control(550px) {
            flex-direction: column;
            align-items: center;
            gap: 0;
            padding: 35px min(60px, 5vw) 0 min(60px, 5vw);
        }

        .top-items-container {
            display: flex;
            flex-direction: column;
            width: 40%;
            height: 310px;

            @include screen-control(880px) {
                width: 100%;
                height: 300px;
            }

            @include screen-control(735px) {
                width: 40%;
                height: 310px;
            }

            @include screen-control(550px) {
                width: 90%;
                height: 275px;
            }
            
            h3 {
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;

                @include screen-control(550px) {
                    margin-top: 10px;
                }
            }

            .stats-bar-lists-container {
                display: flex;
                flex-direction: column;
                gap: 15px;

                @import "../components/statusbar";
            }

        }

        .top-categories-container {
            display: flex;
            flex-direction: column;
            width: 40%;
            height: 310px;

            @include screen-control(880px) {
                width: 100%;
                height: 275px;
            }

            @include screen-control(735px) {
                width: 40%;
                height: 310px;
            }

            @include screen-control(550px) {
                width: 90%;
                height: 275px;
            }
            
            h3 {
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;

                @include screen-control(880px) {
                    margin-top: 0;
                }

                @include screen-control(735px) {
                    margin-top: 24px;
                }

                @include screen-control(550px) {
                    margin-top: 10px;
                }
            }

            .stats-bar-lists-container {
                display: flex;
                flex-direction: column;
                gap: 15px;

                @import "../components/statusbar";
            }

        }

    }

    .month-summary-container {
        width: 100%;
        flex: 1;
        padding: 0 min(60px, 5vw) 50px min(60px, 5vw);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h3 {
            width: calc(80% + 60px);
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;

            @include screen-control(880px) {
                width: 100%;
                margin-top: 0;
            }

            @include screen-control(735px) {
                width: calc(80% + 60px);
            }
    
            @include screen-control(550px) {
                width: 90%;
                margin-top: 10px;
            }
        }

        .line-chart-container {
            width: calc(80% + 60px);

            @include screen-control(880px) {
                width: 100%;
            }

            @include screen-control(735px) {
                width: calc(80% + 60px);
            }
    
            @include screen-control(550px) {
                width: 90%;
            }

        }
    }
}